{% extends "base.html" %}

<div class="container">
    <!--BOTONES DE OPCIONES-->
{% block botones %}{% endblock botones %}
    <!--TODO FILTRO POR FECHA Y POR ESTADO-->


{% block contenido %}
      <!--FORM-->
      {% if facturas.estado == 1 or facturas.estado == 2 %}
      <div class="container">
        <div class="card-panel text red darken-1">
            <div class="col s12">
                <i class="material-icons prefix ">warning</i>
                <b>LA FACTURA NO PUEDE EDITARSE PORQUE YA ESTÁ SIENDO PROCESADA</b>
            </div>
        </div>
      </div>
      {% endif %}
      <div class="container">
        <div class="row">
            {% for mensaje in messages %}
                <div class="nav-wrapper">
                    {{ mensaje }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <form class="col s12" method="POST">
               {% csrf_token %}
                
                <div class="row">
                    <div class="input-field col s6">
                        {{form.fecha_carga.label}} {{form.fecha_carga}}
                    </div>
                    <div class="input-field col s6" >
                        {{form.fecha_emision.label}} {{form.fecha_emision}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="id_tipo" name="{{ form.tipo.name }}">
                            <option value="" disabled selected>Selecciona una opción</option>
                            {% for value, label in form.tipo.field.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <label for="id_tipo">{{ form.tipo.label }}</label>
                        <div>
                            {{form.tipo.errors}}
                        </div>
                    </div>
                    <div class="input-field col s6" >
                        {{form.numero.label}} {{form.numero}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        {{form.neto_gravado.label}} {{form.neto_gravado}}
                        <div>
                            {{form.neto_gravado.errors}}
                        </div>
                    </div>
                    <div class="input-field col s3" >
                        {{form.neto_exento.label}} {{form.neto_exento}}
                    </div>
             
                    <div class="input-field col s3">
                        {{form.iva.label}} {{form.iva}}
                    </div>
                    <div class="input-field col s3" >
                        {{form.retencion_iva.label}} {{form.retencion_iva}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        {{form.retencion_iibb.label}} {{form.retencion_iibb}}
                    </div>
                    <div class="input-field col s9" >
                        {{form.total.label}} {{form.total}}
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field col s3">
                        <div class="btn">
                        {{form.documento.label}} {{form.documento}}
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                    </div>
                    
                </div>
               <div class="row">
                <div class="row col s8 right ">
                    <button class="waves-effect waves-light btn orange darken-4" type="submit"><i class="material-icons right">save</i>Guardar</button>
                    <a href="{% url 'home' %}" class="waves-effect waves-light btn orange darken-4"><i class="material-icons right">undo</i>volver</a>
                    <a class="waves-effect waves-light btn orange darken-4"><i class="material-icons right">clear_all</i>Limpiar</a>
        
                </div>
            </div> 
            
            </form>
        </div>
    </div>
  <!-- Agrega el enlace al archivo JavaScript de Materialize y jQuery -->

  <script>

    document.addEventListener('DOMContentLoaded', function () {
      M.AutoInit();
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, options);
      });
  </script>
</div>
{% endblock contenido %}
    
  

