{% extends "./base.html" %}
{% block titulo %}{{username}}{% endblock titulo %}

{% block contenido %}
<!--BOTONES DE OPCIONES-->
<div class="row opciones">
    <div class="col s12">
        <a href="{% url 'factura-form' %}" class="waves-effect waves-light btn orange darken-4"><i class="material-icons right">note_add</i>Agregar</a>
        <a href=""class="waves-effect waves-light btn orange darken-4"><i class="material-icons right">mode_edit</i>Editar</a>
        <a class="waves-effect waves-light btn orange darken-4"><i class="material-icons right">delete</i>Eliminar</a>
   
    </div>
    <!--TABLA-->
<table class="striped">
    <thead>
        <tr>
            <th></th>
            <th>Fecha</th>
            <th>Comprobante</th>
            <th>Detalle</th>
            <th>Importe</th>
            <th>Vencimiento</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas %}
        <tr>
            <td>
                <label>
                    <input type="checkbox"/>
                    <span></span>
                  </label>
            </td>
            <td>{{factura.fecha}}</td>
            <td>{{factura.numero}}</td>
            <td>{{factura.detalle}}</td>
            <td>$ {{factura.importe | floatformat:2}}</td>
            <td>{{factura.vencimiento}}</td>
            
            {% if factura.estado == 1 %}
            <td><i class="material-icons orange-text">warning</i>A PAGAR</td>
            {% elif factura.estado == 2 %}
            <td><i class="material-icons green-text">done</i>PAGADA</td>
            {% else %}
            <td><i class="material-icons red-text">error</i>PENDIENTE</td>
            {% endif %}
            <td><a href="{% url 'factura-edit' %}{{factura.id_factura}}"><i class="material-icons">edit</i></a></td>                
            
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock contenido %}
    