{% extends "base.html" %}
{% block titulo %}{{ username }}{% endblock titulo %}

{% block contenido %}
    <!--BOTONES DE OPCIONES-->
    <div class="row opciones">
        <div class="col s12">
            <a href="{% url 'nuevo-comprobante' %}" class="waves-effect waves-light btn orange darken-4"><i
                    class="material-icons right">note_add</i>Agregar</a>
            <a href="" class="waves-effect waves-light btn orange darken-4"><i
                    class="material-icons right">mode_edit</i>Editar</a>
            <a class="waves-effect waves-light btn orange darken-4"><i
                    class="material-icons right">delete</i>Eliminar</a>

        </div>
        <!--TABLA-->
        <table class="striped">
            <thead>
            <tr>
                <th></th>
                <th>Fecha de carga</th>
                <th>Fecha de factura</th>
                <th>Tipo</th>
                <th>Numero</th>
                <th>Importe</th>
                <th>Documento</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for c in comprobante %}
                <tr>
                    <td>
                        <label>
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                    </td>
                    <td>{{ c.fecha_carga }}</td>
                    <td>{{ c.fecha_emision }}</td>
                    <td>{{ c.tipo|title }}</td>
                    <td>{{ c.numero }}</td>
                    <td>$ {{ c.importe_total | floatformat:2}}</td>
                    <td>{{ c.documento }}</td>

                    {% if c.estado == 1 %}
                        <td><i class="material-icons orange-text">warning</i>A PAGAR</td>
                    {% elif c.estado == 2 %}
                        <td><i class="material-icons green-text">done</i>PAGADA</td>
                    {% else %}
                        <td><i class="material-icons red-text">error</i>PENDIENTE</td>
                    {% endif %}
                    <td><a href="{% url 'editar-comprobante' %}{{ c.id }}"><i
                            class="material-icons">edit</i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock contenido %}
    