@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;    
    font-family: 'Poppins', sans-serif;   
}

:root{
    --bg-color: #2b2b2b;
    --second-bg-color: #52555c;
    --text-color: #fff;
    --main-color: rgb(255, 0, 0);
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.btn{
    display: inline-block;
    padding: .2rem .8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.contenedor{
    position: fixed; 
    background-color: white;       
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    width: 100%;     
    background: var(--bg-color);
}

.logo{
    display: flex;
    width: 10%;
    justify-content: center;
}


.logo img{    
    width: 40%;
    border-radius: 100%;
}

.navegador{
    width: 60%;
}

.navegador nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navegador a{
    font-size: 1rem;
    color: var(--text-color);    
    transition: .3s;
}

.navegador a:hover,
.navegador a.active{
    font-weight: 900;
    color: var(--main-color);
}

.usuarios{
    display: flex;
    justify-content: center;
    width: 10%;
}

section{
    min-height: 100vh;
    padding: 5rem 9% 2rem;
}

.parte{
    min-height: 92vh;
    padding: 5rem 9% 2rem;
}

.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-content{
    display: flex;
    flex-direction: column;    
}

.home-content h1{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.3;
    
}

.home-img img{
    width: 30vw;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.nosotros{
    background: var(--second-bg-color);
}

.nosotros h1{
    font-size: 3rem;
    text-align: center;
    margin: .5% 0;
}

.profesor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1.5% 0;
}

.profesor img{
    width: 12%;
}

.profesor h3{
    font-size: 1.5rem;
    margin: .2rem;
}

.alumnos{
    display: flex;
    justify-content: space-evenly;
    margin: 3.5% 0;
}

.integrante{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.integrante img{
    width: 60%;
}

.funciones h1{
    font-size: 3rem;
    text-align: center;
    margin: .5% 0;
}

.descripcion p{
    font-size: 2rem;
    margin-top: 10%;
    text-align: center;
}

.imagenes{
    background: var(--second-bg-color);
}

.imagenes h1{
    font-size: 3rem;
    text-align: center;
    margin: .5% 0;
}

.imagen-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.imagen-container .imagen-box{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    box-shadow: 0 2rem 2rem var(--bg-color);
}

.imagen-box img{
    width: 100%;
    transition: .5s ease;    
}

.imagen-box:hover img{
    transform: scale(1.1);
}

.imagen-box .imagen-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.85), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5 ease;
}

.imagen-box:hover .imagen-layer{
    transform: translateY(0);
}

.imagen-layer h4{
    font-size: 2rem;
}

.imagen-layer p{
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
}

.imagen-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--text-color);
}

.imagen-layer a i{
    font-size: 1rem;
    color: var(--second-bg-color);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: var(--bg-color);
}

.footer-text{
    padding: 2px;
    font-size: 1rem;
}