{% extends "provired/base2.html" %}
{% load static %}

{% block css %}
<!-- custom css -->
<link rel="stylesheet" href="{% static 'css/contacto.css' %}">
{% endblock css %}

{% block titulo %}{{'usuario.nombre'}}{% endblock titulo %}

{% block nav %}
<div class="navegador">
<h1>CONTAC</h1>
<img src="{% static "img/thanos.png" %}" alt="logo grupo">
</div>
{% endblock nav %}
{% block boton %}
<div class="usuarios">
    <a href="{% url 'index' %}" class="btn">{{usuario.nombre}}LOG-OUT</a>
</div>
{% endblock boton %}

{% block  main %}
<div class="container">    
    <form action="" method="POST" action="{% url 'contacto'%}" class="contact-form" id="contact-form">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-datos">
            {% for item in fomrulario_contacto %}
                {% if item.label != "Consulta" %}
                    <div class="content">
                        {{item}}                        
                        {{item.errors}}
                    </div>                    
                {% endif %}                
            {% endfor %}
            </div>
            <div class="form-consulta">
            {% for item in fomrulario_contacto %}
                {% if item.label == "Consulta" %}
                    <div class="consulta">                        
                        {{item}}
                        {{item.errors}}
                    </div>                    
                {% endif %}                
            {% endfor %}
            </div>            
            <div class="boton">
                <button type="submit" class="btn">Enviar</button>
            </div>
        </div>            
    </form>
</div>
{% endblock main %}


