{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Lista usuarios{% endblock %}</title>
</head>
<body>
{% block contenido %}
    <div class="center-align">
        <table class="centered">
            <tr style="color:red">
                <th>Usuario</th>
                <th>Rol</th>
            </tr>
            {% for user,datos in users.items %}
                <tr>
                    <th>
                        {{ user }}
                    </th>
                    <th {% if datos.rol == "proveedor" %}
                        style="color:#d84315;"
                    {% endif %}
                            {% if datos.rol == "admin" %}
                        style="color: #00b0ff"
                            {% endif %}
                    >  {{ datos.rol }}
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
</body>
</html>